<%# priority navigation bar %>
<div 
  id='categories-container' 
  data-controller='categories filtering'
>
  <ul id='category-items'>
    <%# resets category to all categories %>
    <li 
      role='button' 
      id='all-categories'
      class='category-item' 
      data-value='<%= nil %>'
      data-action='click->categories#updateCategory click->filtering#filterRecipes'
      data-isSelected='<%= true %>'
    >All Categories</li>
    
    <%# displays category options %>
    <% Category.all.each do |c| %>
      <li 
        role='button' class='category-item' 
        data-value='<%= c.id %>' 
        data-action='click->categories#updateCategory click->filtering#filterRecipes'
        data-isSelected='<%= false %>'
      ><%= c.name.pluralize %></li>
    <% end %>
  </ul>
  
  <div id='more-categories'>
      <i class="fa-solid fa-bars"></i>
  </div>
  
  <ul id='category-overflow'></ul>

  <%# hidden field to capture currently-selected category id %>
  <div class='current-category hidden' data-value='<%= nil %>'></div>
</div>