<div data-controller="steps">
  <h2>Recipe Steps</h2>

  <ol id="steps-list">
    <% recipe.steps.each do |step |%>
      <% next if !step.id%>
      <li>
        <input type='hidden' name='steps[steps-<%= step.id %>][id]' value='<%= step.id %>'>
        <input name='steps[steps-<%= step.id %>][title]' value='<%= step.name %>'>
        <input name='steps[steps-<%= step.id %>][description]' value='<%= step.description %>'>
        <button data-action="steps#deleteStepObject" data-url='/steps/<%= step.id %>'>Delete</button>
      </li>
    <% end %>
  </ol>

  <button data-action="steps#addStep" data-url='<%= new_step_path %>'>Add Step</button>
</div>