 <div id='recipe-form' data-controller='recipes form'> 
  <%= simple_form_for @recipe do |f| %>
    <%= f.error_notification %>

    <div class='row form-header-container'>
      <h1 class='form-header'>
        <%= @edit ? @recipe.name : 'New Recipe' %>
      </h1>
      <%= f.input :name, label: false, placeholder: 'Recipe Name', required: true %>
      <div class='text-danger fst-italic'><%= flash[:error] %></div>
    </div>

    <div class='row'>
      <% if @recipe.image.present? %>
        <%= image_tag @recipe.image, id: 'image-preview', data: { image: true } %>
      <% else %>
         <img id='image-preview' src='#' alt='image-preview' data-image='<%= false %>' />
      <% end %>
    </div>
    <div class='row form-content'>

      
      <div class='col-auto'>
        <%# recipe ingredients %>
        <%= render partial: 'components/portion_form/portion_table', locals: { f: f } %>

        <%# recipe steps %>
        <%= render partial: 'components/step_form/step_table', locals: { f: f } %>
      </div>

      <div class='col-auto'>
        <%# recipe categories %>
        <div class='form-checkbox-container'>
          <label for='categories-checkboxes' class='form-label'>Categories</label>
          <div class='form-checkboxes'>
            
            <%= f.collection_check_boxes :category_ids, 
              Category.all.order(:name), 
              :id, 
              :name,
              html_options: { id: 'categories-checkoxes' },
              include_hidden: false do |c|
            %>
              <%= c.label(class: 'checkbox-label') { c.check_box + ' ' + c.text } %>
            <% end %>
          </div>
        </div>

        <%# recipe tools %>
        <div class='form-checkbox-container'>
          <label for='tools-checkboxes' class='form-label'>Tools</label>
          <div class='form-checkboxes'> 
            <%= f.collection_check_boxes :tool_ids, 
              Tool.all.order(:tool_type), 
              :id, 
              :tool_type,
              html_options: { id: 'tools-checkboxes' }, 
              include_hidden: false do |t|
            %>
              <%= t.label(class: 'checkbox-label') { t.check_box + ' ' + t.text } %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <%# recipe description %>
    <div class='row'>
      <div class='recipe-description'>
        <%= f.input :description, label: 'Recipe Description', label: false, placeholder: 'Recipe Description' %>
      </div>
    </div>
        
    <%# add image %>
    <div class='row my-2'>
      <div class='text-center'>

        <%# wrapping file_field in a label to style the attach button %>
        <label class='btn btn-sm btn-outline-dark'>
          <span id='add-image-label'>
            <%= @recipe.image.present? ? 'Edit Image' : 'Add Image' %>
          </span>
          <span class='d-none' data-controller='form'>
            <%= f.file_field :image, id: 'add-image-btn', input_html: { data: { action: 'change->form#addImagePreview' }} %>
          </span>
        </label>
      </div>
    </div>

    <%# form buttons %>
    <div class='form-buttons'>
      <div class='form-btn-container'>
        <%= f.button :submit, id: 'submit-btn', data: { turbo: false }, _method: 'update'  %>
      </div>

      <% if @edit %>
        <div class='form-btn-container'>
          <div>
            <%# <button role='button' class='form-btn' data-action='click->form#deleteRecipe'>Delete Recipe</button> %>

          </div>
        </div>
      <% end %>
    </div>

  <% end %>
</div>