<div class='text-danger'> 
  <%= flash[:error] %>
</div>

<%= simple_form_for @recipe do |f| %>
  <%= f.error_notification message: 'something went wrong' %>

  <%# recipe inputs %>
  <div class='form-inputs'>
     <%# image attachment %>
    <%= f.file_field :image %>
    <%= f.input :name %>
    <%= f.input :description %>
   
  </div>

  <%= render partial: 'portion_table', locals: { f: f } %>

  <%= render partial: 'step_table', locals: { f: f } %>
  
  <div class='form-actions'>
    <%= f.button :submit, class: 'btn btn-success' %>
  </div>
  
<% end %>