<%= form_with(model: recipe) do |f| %>
  <% if recipe.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
        <% recipe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
    <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <%= render partial: "ingredients/comps/select-widget", locals: {recipe: recipe, f: f} %>

  <div name="portion-tbl">
      <table id="recipe-portions-tbl" class="table-sm">
        <thead>
          <tr>
            <th>Ingredients</th>
            <th>Amount</th>
            <th>Unit</th>
          </tr>
          <% recipe.portions.each do |portion| %>
            <tr>
               <td>
                  <input type="hidden" name="portions[ingredient-<%= portion.ingredient_id %>][id]" value="<%= portion.ingredient_id %>">
                  <%= portion.ingredient.display_name %>
                </td>
                <td><input name="portions[ingredient-<%= portion.ingredient_id %>][amount]" type="number" value="<%= portion.amount %>"></td>
                <td>
                  <select name="portions[ingredient-<%= portion.ingredient_id %>][unit]" value="<%= portion.unit %>">
                    <% ['Oz.', 'L', 'mL', 'tbsp', 'tsp', 'Cup'].each do |unit| %>
                      <option><%= unit %></option>
                    <% end %>
                  </select>
                </td>
            </tr>
          <% end %>
        </thead>
      </table>
  </div>

  <%# Nested form for Adding a step %>
  <%# Turbo-frame reloads content within its tags rather than the whole page %>
  <div>
    <h2>Add Steps</h2>
  </div>
  <turbo-frame id='<%= f.field_id(:steps) %>' class='contents'>
    <%= f.fields_for :steps do |ff| %>
      <div>
        <div> 
          <%= ff.object.id  %>
        </div>
        <%= ff.number_field :number, placeholder: 'Step No.' %>
        <%= ff.text_field :name, placeholder: 'Step Title'%>
        <%= ff.text_field :description, placeholder: 'Description' %>
      </div>
    <% end %>
  </turbo-frame>

 
  <%# turbo-frame data attribute must match turbo-frame id from above %>
  <%= f.submit 'Add Step', 
                data: { turbo_frame: f.field_id(:steps) },
                name: :add_step 
  %>

  <%# image attachment %>
  <%= f.file_field :image %>

  <div>
    <%= f.submit %>
  </div>
  
<% end %>