 <div class='text-danger'> 
  <%= flash[:error] %>
</div>

<%= simple_form_for @recipe do |f| %>
  <%= f.error_notification message: 'something went wrong' %>

  <%# recipe inputs %>
  <div class='form-inputs'>
    <%= f.input :name %>
    <%= f.input :description %>
    <%# image attachment %>
    <%= f.file_field :image %>
  </div>

  <%# ingredient selector %>
  <%# <%= render partial: "portions/comps/portion-select", locals: {recipe: recipe, f: f} %> 
<%# 
  <%= render partial: 'portions/comps/portion-tbl', locals: {recipe: recipe, f: f} %> 

  <table class='table-sm'>
    <thead>
    <tr>
      <th>Ingredients</th>
      <th>Amount</th>
      <th>Units</th>
    </tr>
    </thead>
    <tbody class='portions'>
      <%= f.simple_fields_for :portions do |portion_form| %>
        <%= render 'portion_fields', f: portion_form %>
      <% end %>
    </tbody>
  </table>

  <div class='form-actions'>
    <%= link_to_add_association 'Add Ingredient', f, :portions, class: 'btn btn-secondary', data: {
          association_insertion_node: '.portions', association_insertion_method: :append } %>
  </div>

  <table class='table-sm'>
    <thead>
    <tr>
      <th>Step Name</th>
      <th>Description</th>
      <th></th>
    </tr>
    </thead>
    <tbody class='steps'>
      <%= f.simple_fields_for :steps do |step_form| %>
        <%= render 'step_fields', f: step_form %>
      <% end %>
    </tbody>
  </table>
  
  <div class='form-actions'>
    <%= link_to_add_association 'Add Step', f, :steps, class: 'btn btn-secondary', data: {
          association_insertion_node: '.steps', association_insertion_method: :append } %>
    <%= f.button :submit, class: 'btn btn-success' %>
  </div>
  
<% end %>