<div id="<%= dom_id recipe %>">
  <h2><%= recipe.name %></h2>
  <h3>Ingredients</h3>
  <ul>
    <% recipe.ingredients.each do | i | %>
      <li><%= i.to_s %> | <%= i.amount %> Oz. </li>
    <% end%>
  </ul>
  <h3>Description</h3>
  <p><%= recipe.description %></p>
  <h3>Steps</h3>
  <ol>
    <% recipe.steps.each do |s| %>
      <li><%= s.name %></li>
      <p><%= s.description %></p>
    <% end %>
  </ol>
</div>
