<div id='recipe-container'>

  <%# cocktail name %>
  <div id='recipe-header' class=''>
    <h2><%= recipe.name %></h2>
  </div>

  <%# cocktail categories %>
  <div id='recipe-categories' class=''>
    <h2>Category: <%= recipe.categories.map(&:name).join(', ') %></h2>
  </div>

  <%# image display %>
  <div id='recipe-img-container' class=''>
    <div class=''>
      <div class="">
        <% if recipe.image.present? %>
          <%= image_tag recipe.image, class: "w-100"  %>
        <% end %>
      </div>
    </div>
  </div>
  
  <%# cocktail description (if any) %>
  <div id='recipe-description-container'>
    <% if recipe.description != "" %>
      <div class=''>
        <div class=''>
          <h3>Description</h3>
          <p><%= recipe.description %></p>   
        </div>
      </div>
    <% end%>
  </div> 
  
  <%# ingredients display %>
  <div class=''>
    <div class=''>
      <h3>Ingredients</h3>
      <ul class=''>
        <% recipe.portions.each do | portion | %>
          <li><%= portion.ingredient.display_name %> | <%= portion.amount %> <%= portion.unit %> </li>
        <% end%>
      </ul>
    </div>

    <%# recipe steps %>
    <div class=''>
      <h3>Steps</h3>
      <ol>
        <% recipe.steps.each do |s| %>
          <li><%= s.name %></li>
          <p><%= s.description %></p>
        <% end %>
      </ol>
    </div>
  </div>
</div>
