<%# category filtering divider %>
<div class="">
  <%= render partial: 'components/categories/categories_expanded' %>
</div>

<%# main content %>
<div class='bg-img main-content-wrapper'>

  <%# sorting / new recipe / stats bar %>
  <div class="d-flex flex-row-reverse">
    <div class='me-3 mt-2'>
      <%= select_tag 'Sort', 
        options_for_select(SORT_OPTIONS), 
        include_blank: 'Sort Options', 
        class: 'sort-options', 
        data: { controller: 'filtering', 
                action: 'filtering#filterRecipes',
                url: recipes_path } 
      %>
    </div>
    <div id='recipe-count' class='text-light me-3 mt-2'>
      Total Recipes: <%= @recipe_count %>
    </div>
  </div>

  <div class='row flex-nowrap'>

    <%# liquor cabinet display widget %>
    <div class='liquor-cabinet-display col-2' data-controller='cabinets'>
      <%= render partial: 'components/liquor_cabinet_display/liquor_cabinet_display' %>
    </div>

    <%# cocktail card container %>
    <div class='col offset-2 recipe-cards me-3' 
         data-controller='pagination'
         data-pagination-target='recipes'
         data-pagination-url-value='<%= recipes_url %>'
         data-pagination-page-value='<%= 2 %>'>

      <%= render partial: 'components/recipe_cards/recipe_cards_container', locals: { recipes: @recipes } %>
      
    </div>
  </div>
</div>