<%# main content %>
<div class='bg-img main-content-wrapper'>

  <%# collapsible category bar %>
  <div>
    <%= render partial: 'components/categories/categories_expanded' %>
  </div>

  <%# sorting / stats bar %>
  <div class="d-flex flex-row-reverse">
    <%= render partial: 'components/sort_options/sort_options' %>

    <%= render partial: 'components/recipe_count/recipe_count', locals: { recipe_count: @recipe_count } %>
  </div>

  <%# anchor for recipe modal %>
  <div id='recipe-modal-container'></div>

  <%# main page content %>
  <div class='row flex-nowrap'>
    
    <%# liquor cabinet sidebar %>
    <div class='liquor-cabinet-display col-2' data-controller='cabinets'>
      <%= render partial: 'components/cabinet_sidebar/cabinet_sidebar' %>
    </div>

    <%# cocktail card container %>
    <div class='col offset-2 recipe-cards me-3' 
         data-controller='pagination'
         data-pagination-target='recipes'
         data-pagination-url-value='<%= recipes_url %>'
         data-pagination-page-value='<%= 2 %>'>

      <%= render partial: 'components/recipe_cards/recipe_cards_container', locals: { recipes: @recipes } %>
    </div>
  </div>
</div>