<div 
  class='card-container'
  data-controller='recipes'
  data-url='<%= recipe_path(recipe) %>'
  data-action='click->recipes#showRecipe'
>
  
    <div class="card" data-value='<%= recipe.id %>'>

      <%# favoriting widget %>
      <%= render partial: 'components/favoriting/favoriting_widget', locals: { recipe: recipe } %>
    

      <%# if custom image not added, adds default image %>
      <div class='card-img-container'>
        <% if recipe.image.present? %>
          <%= image_tag recipe.image, class: "card-img"  %>
        <% else %>
          <img src=<%= asset_path('default.webp') %> class="card-img">
        <% end %>
      </div>

      <%# cocktail name %>
      <div class="card-body">
        <div class="card-title"><%= recipe.name %></div>
      </div>
    </div>
</div>
