<div
  id='mobile-main-menu'
  class='mobile-menu'
  data-target-menu='mobile-main-menu'
  data-controller='tabs'
>
  <div class='mobile-menu-header'>
    <span>Main Menu</span>
  </div>
  <ul>
    <li class='mobile-main-header'>
      <a href='<%= recipes_path %>'>Search Cocktail Recipes</a>
    </li>
    <li>
      <li class='mobile-main-header'><a href='<%= cabinets_path %>'>My Liquor Cabinets</a></li>
      <ul>
        <% if current_user %>
          <% current_user.cabinets.each do |c| %>
            <li class='mobile-main-cabinet'>
              <a href='<%= cabinet_path(c) %>'><%= c.name %></a>
            </li>
          <% end %>
        <% end %>
        <li class='mobile-main-cabinet'>
          <a href='<%= new_cabinet_path %>'>-Create Liquor Cabinet</a>
        </li>
      </ul>
    </li>
    <li class='mobile-main-header'>
      <a href='<%= new_recipe_path %>'>Create New Recipe</a>
    </li>
    <li class='mobile-main-header'>
      <% if user_signed_in? %>
        <%= link_to 'Log Out', destroy_user_session_path, method: :delete %>
      <% end %>
    </li>
  </ul>
</div>