<div 
  id='mobile-sort-menu-container'
  data-controller='tabs cabinets filtering'
>
  <%# change cabinet button %>
  <span 
    class='mobile-change-cabinet-btn'
    data-target-menu='mobile-change-cabinet'
    data-action='click->tabs#updateMobileMenu'
  >
    <i 
      data-target-menu='mobile-change-cabinet'
      data-action='click->tabs#updateMobileMenu'
      class="fa-solid fa-arrows-rotate"
    >
    </i>
    &nbsp;Change
  </span>

  <%# close menu button %>
  <div 
    class='mobile-menu-close-btn'
    data-action='click->tabs#closeSortMenu'
  >
    <i class="fa-solid fa-xmark"></i>
  </div>

  <%= render 'components/mobile_menus/mobile_main_menu' %>

  <%= render 'components/mobile_menus/mobile_sort_menu' %>

  <%= render 'components/mobile_menus/mobile_category_menu' %>

  <%= render 'components/mobile_menus/mobile_cabinet_menu' %>

  <%= render 'components/mobile_menus/mobile_change_cabinet' %>
</div>