<nav class="navbar navbar-expand-lg sticky-top bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Cocktailings</a>
    <button class="navbar-toggler" 
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#navbarSupportedContent" 
            aria-controls="navbarSupportedContent" 
            aria-expanded="false" 
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="<%= cabinets_path %>">Liquor Cabinets</a>
        </li>
        <li class="nav-item">
          <%= link_to "Recipes", recipes_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Favorites', favorites_recipes_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "New Recipe", new_recipe_path, class: "nav-link" %>
        </li>
      </ul>
      <div class="mx-2">
        <%= button_to('Log Out', destroy_user_session_path, method: :delete, class: 'btn btn-sm btn-dark') %>
      </div>

      <%= simple_form_for :search, url: recipes_path, method: 'GET', html: { class: 'd-flex' } do |form | %>
        <%= form.input_field :query, placeholder: 'Search Cocktails', id: 'search-field' %>                     
        <%= form.submit 'Search', id: 'search-btn', 
                                  class: 'btn btn-sm btn-light', 
                                  data: { controller: 'filtering',
                                          action: 'click->filtering#filterRecipes',
                                          url: recipes_path
                                        }
        %>
      <% end %>

    </div>
  </div>
</nav>