<%# <%= render 'components/navbar/navbar' %> 

<%= render 'components/navbar/navbar_mobile' %>

<%= render 'components/filter_bar/filter_bar_mobile' %>

<%= render 'components/mobile_menus/mobile_sort' %>

<%# collapsible category bar %>
<% if @home %>
  <div id='sticky-category-bar' class='mb-0'>
    <%= render partial: 'components/categories/categories_expanded' %>
  </div>

  <%# sorting / stats bar %>
  <div id='stats-container'>

    <div class='reset-container'>
      <button 
        type='button'
        id='reset-btn' 
        class='reset-filters'
        data-controller='search filtering'
        data-action='click->search#resetSearchValue click->filtering#resetFilters'
      >
        Reset Filters
      </button></div>
    <%= render partial: 'components/search_terms/search_terms' %>
    
    <%= render partial: 'components/recipe_count/recipe_count', locals: { recipe_count: @recipe_count } %>
  </div>
<% end %>