<div id='cabinet-form' data-controller='form cabinet-form'>
  <%= simple_form_for(@cabinet) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    
    <div class='row form-header-container'>
      <h1 class='form-header'>
        <%= @edit ? @cabinet.name : 'New Liquor Cabinet' %>
      </h1>

      <%= f.input :name, label: false, placeholder: 'Name Your Liquor Cabinet', required: true %>
      <%= f.hidden_field :user_id, value: current_user.id  %>

      <div class='text-danger fst-italic'><%= flash[:error] %></div>
    </div>

   
    <div class='row'>
      <% ['Spirit', 'Modifier', 'Sugar', 'Garnish'].each do |ingredient_type| %>
        <div class='col'>
          <h5 class='ingredient-header'>
            <%= ingredient_type.pluralize %>
          </h5>

          <div 
            id='<%= ingredient_type.downcase %>-ingredients' 
            class='ingredient-container'>
          </div>
        </div>
      <% end %>
    </div>

    <div class='row'>
      <%= render partial: 'components/cabinet_form/portion_table', locals: { f: f } %>
    </div>

    <div class='row text-center'>
      <div class="">
        <%= f.button :submit, id: 'submit-btn' %>
      </div>
    </div>
  <% end %>
</div>
