<div id='cabinet-form' data-controller='form cabinet-form'>
  <%= simple_form_for(@cabinet) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    
    <div class='row form-header-container'>
      <h1 class='form-header'>
        <%= @edit ? @cabinet.name : 'New Liquor Cabinet' %>
      </h1>

      <%= f.input :name, label: false, placeholder: 'Name Your Liquor Cabinet', required: true %>
      <%= f.hidden_field :user_id, value: current_user.id  %>

      <div class='text-danger fst-italic'><%= flash[:error] %></div>
    </div>

   
    <div class='ingredients-container'>
      <% ['Spirit', 'Modifier', 'Sugar', 'Garnish'].each do |ingredient_type| %>
        <div class='ingredient-wrapper'>
          <h5 class='ingredient-header'>
            <%= ingredient_type.pluralize %>
          </h5>

          <div 
            id='<%= ingredient_type.downcase %>-ingredients' 
            class='ingredient-container'
          >

            <% if @edit %>
              <%= f.simple_fields_for :portions do |portion_form| %>
                <% if portion_form.object.ingredient.class.to_s === ingredient_type %>
                  <%= render 'components/cabinet_form/edit_fields', f: portion_form %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <div class='row'>
      <%= render partial: 'components/cabinet_form/portion_table', locals: { f: f } %>
    </div>

    <%# tools %>
    <div class='form-checkbox-container'>
      <label for='tools-checkboxes' class='form-label'>Tools</label>
      <div class='form-checkboxes'> 
        <%= f.collection_check_boxes :tool_ids, 
          Tool.all.order(:tool_type), 
          :id, 
          :tool_type,
          html_options: { id: 'tools-checkboxes' }, 
          include_hidden: false do |t|
        %>
          <%= t.label(class: 'checkbox-label') { t.check_box + ' ' + t.text } %>
        <% end %>
      </div>
    </div>

    <div class='row text-center'>
      <div class="">
        <%= f.submit 'Save', id: 'submit-btn' %>
      </div>
    </div>
  <% end %>
</div>
