<%# cabinet-menu dropdown %>
<div class='cabinet-menu-container'>
  <ul 
    class='cabinet-menu'
    data-action='click->cabinets#toggleCabinetMenu'
  >
    <div class='list-group-item'>-- Please Select --</div>
    <% current_user.cabinets.each do |cabinet| %>
      <li 
        role='button' 
        class='cabinet-option list-group-item' 
        value='<%= cabinet.id %>'
        data-controller='cabinets search filtering'
        data-url='<%= cabinet_url(cabinet) %>'
        data-action='click->cabinets#changeCabinet
                     click->cabinets#updateMobileCabinet 
                     click->search#resetSearchValue 
                     click->filtering#resetFilters'
      >
        <%= cabinet.name %>
      </li>
    <% end %>
    <li 
      role='button' 
      class='cabinet-option list-group-item' 
      value='<%= fully_stocked_cabinet.id %>'
      data-controller='cabinets search filtering'
      data-url='<%= cabinet_url(fully_stocked_cabinet) %>'
      data-action='click->cabinets#changeCabinet 
                   click->cabinets#updateMobileCabinet 
                   click->search#resetSearchValue 
                   click->filtering#resetFilters' 
    >
      Fully-Stocked Cabinet
    </li>
    <li
      class='list-group-item' 
    >
      <a href='<%= new_cabinet_url %>'>*New Liquor Cabinet*</a>
    </li>
  </ul>
</div>