<tr class='nested-fields ingredients-row' data-controller='ingredients'>

  <td class='ingredients-dropdown'>
    <%# creates select drop-down for ingredient association objects %>
    <%= f.association :ingredient, 
                      collection: Ingredient.all.order(:display_name), 
                      label: false,
                      label_method: :display_name, 
                      value_method: :id %>
  </td>

  <td class='amount-select'><%= f.input :amount, label: false, input_html: { min: '0.1', step: '0.1' } %></td>

  <td class='unit-select'><%= f.input :unit, label: false, collection: ['', 'oz.', 'tbsp', 'tsp', 'qt', 'g' ] %></td>

  <td class='optional-checkbox'><%= f.check_box :optional, label: false %></td>

  <%# coccoon gem helper to destroy object %>
  <td><%= link_to_remove_association 'тип', f %></td>
</tr>