<% universal_cabinet = Cabinet.find_by(name: 'Universal Cabinet')%>
<% cabinet = current_user.default_cabinet ? 
      current_user.default_cab : universal_cabinet %>

<%# liquor cabinet display %>
<div class='row'>

  <%# cabinet header %>
  <div class='d-flex flex-row justify-content-center'>
    <h5 class='current-cabinet mx-2'><%= cabinet.name %></h5>
    <i 
      class="toggle-cabinet-menu fa-regular fa-square-plus mt-1" 
      role='button' 
      aria-expanded='false' 
      aria-label='toggle-menu' 
      aria-controls='cabinet-menu-container' 
      data-action='click->cabinets#toggleCabinetMenu'
    ></i>
 
    <%# cabinet-menu pop-up %>
    <div class='cabinet-menu-container'>
      <ul 
        class='cabinet-menu bg-light'
        data-action='click->cabinets#toggleCabinetMenu'
      >
        <div class='list-group-item'>-- Please Select --</div>
        <% current_user.cabinets.each do |cabinet| %>
          <li 
            role='button' 
            class='cabinet-option list-group-item' 
            value='<%= cabinet.id %>'
            data-url='<%= cabinet_url(cabinet) %>'
          >
            <%= cabinet.name %>
          </li>
        <% end %>
        <li 
          role='button' 
          class='cabinet-option list-group-item' 
          value='<%= 1 %>'
          data-url='<%= cabinet_url(cabinet) %>' 
        >
          Universal Cabinet
        </li>
      </ul>
    </div>
  </div>
</div>

<%# select widgets for each category of ingredient %>
<% ['Spirit', 'Modifier', 'Sugar', 'Garnish'].each do |ingredient_type| %>
  <div class='row mt-2'>
    <div class='mx-4'>
      <div>
        <h6 class='fw-bold'><%= ingredient_type.pluralize %></h6>
      </div>
      <div>
        <%= collection_select :ingredient, 
                              :display_name, 
                              cabinet.ingredients.where(:type => ingredient_type), 
                              :id, 
                              :display_name, 
                              { prompt: '- None -' }, 
                              html_options = { size: 5, 
                                                multiple: true, 
                                                class: 'cabinet-ingredients cabinet-' + ingredient_type.downcase.pluralize } %>
      </div>
    </div>
  </div>
<% end %>
