<!DOCTYPE html>
<html>
  <head>
    <title>Cocktailings</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    
    <%# sets up the importmap and shim %>
    <%= javascript_importmap_tags %>

    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body>
    <%= render 'layouts/comps/navbar' %>

    <%# collapsible category bar %>
    <% if @home %>
      <div id='sticky-category-bar' class='mb-0'>
        <%= render partial: 'components/categories/categories_expanded' %>
      </div>
    <% end %>

    <%# sorting / stats bar %>
  <div class="d-flex flex-row-reverse border h-100">
    <%= render partial: 'components/recipe_count/recipe_count', locals: { recipe_count: @recipe_count } %>
  </div>

    <% if notice %>
      <p class='alert alert-success'><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class='alert alert-danger'><%= alert %></p>
    <% end %>
    
    <%= yield %>

    <%= render 'layouts/comps/footer' %>
  </body>
</html>
