<!DOCTYPE html>
<html>
  <head>
    <title>Cocktailings</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    
    <%# sets up the importmap and shim %>
    <%= javascript_importmap_tags %>

    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body>
    <%= render "layouts/comps/navbar" %>
    <%= yield %>
  </body>
</html>
